# Godot editor files
.godot/
*.import

# Godot export
export_presets.cfg
*.export

# Temporary files
*.tmp
*.log

# OS junk
.DS_Store
Thumbs.db
*.cfg
.godot/uid_cache.bin
.godot/editor/recent_dirs
.godot/editor/filesystem_cache10
